{% extends "layout/basic.html" %}
{% load static %}

{% block title%} Creating | {% endblock %}

{% block content %}
<div class="hero">
    <div class="hero-body">
    <form id='form'>
        <input type='text' name='content' placeholder='Room name...' id='room-name'>
        <button class="button is-primary" type='submit' id='#chatMessageSubmit'>Create</button>
    </form>
</div>
</div>
<script src='https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js'></script>
<script>
    document.querySelector("button").onclick = function (e) {
        const roomName = document.querySelector('input').value
        console.log(roomName)

        e.preventDefault();

        const response = fetch("http://127.0.0.1:8000/create/", {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'X-CSRFToken': Cookies.get('csrftoken'),
            },
            body: JSON.stringify({
                name: roomName
            })}).then(response => response.json())
            .then(json => console.log(json))
        
        window.location.replace("http://127.0.0.1:8000/rooms/")
    }
</script>

{% endblock %}
